#feedback {
  background-color: antiquewhite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5em;
  /* make this element invisible until we are ready for it */
  display: none;
}
.moveDown {
  margin-top: 3em;
}
form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 400px;
  /* Form outline */
  padding: 1em;
  border: 5px solid rgb(42, 35, 35);
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 8em;
}

.button {
  margin-left: 30%;
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: 0.5em;
}

.title {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
}
nav a {
  text-align: center;
  color: RED;
  text-decoration: none;
  padding: 35px;
}

#background {
  /* height: 725px; */
  background-color: rgb(62, 68, 72);
}
body {
  background-color: #09090952;
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

nav a:hover {
  background-color: #d0d6b5;
  color: #964269;
}
footer {
  background-color: #c29393;
  /* color: darkolivegreen; */
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer a:hover {
  color: rgb(64, 214, 214);
}

.logo {
  width: 80px;
}

footer p a:hover {
  text-decoration: underline;
}

footer .social img {
  padding-top: 15px;
}

.email1 {
  margin-top: 2%;
}
.name1 {
  margin-top: 2%;
}
.sect {
  margin-top: 2%;
  justify-items: right;
}
.detail {
  align-content: center;
}
