@import url(https://fonts.googleapis.com/css2?family=Lobster&display=swap);

#content {
  width: max-content;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
nav a {
  text-align: center;
  color: RED;
  text-decoration: none;
  padding: 35px;
}
#hero-msg h1 {
  text-align: center;
}
#hero-msg h4 {
  text-align: center;
}
.button-box {
  text-align: center;
}
main section {
  text-align: center;
}
#background {
  height: 725px;
  background-color: rgb(62, 68, 72);
}
body {
  background-color: #987284;
  font-family: "Times New Roman", Times, serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}
h2 {
  margin: 0;
}
header {
  background-color: #0c1c1e;
}
nav a:hover {
  background-color: #d0d6b5;
  color: #987284;
}
.book {
  background-color: #241614;
  color: rgb(126, 120, 109);
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.join {
  background-color: #ee7674;
  color: gray;
  text-decoration: none;
  margin: 35em;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}
.book:hover {
  background-color: #987284;
  color: purple;
}
.join:hover {
  background-color: #505a5b;
  color: darkgrey;
}
.msg {
  background-color: #d0d6b5;
  line-height: 1.5em;
  padding: 35px;
}
footer {
  background-color: #2f1919;
  color: darkolivegreen;
  padding: 25px 50px;
  margin-top: 200px;
}
.home-title {
  color: violet;
  font-size: 2em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "lobster",
    "lobster", Geneva, Verdana, sans-serif;
  margin-top: 10px;
}
h4 {
  color: rgb(22, 12, 32);
}
.msg h2 {
  color: rgb(27, 33, 33);
}
.msg p {
  color: darkgreen;
  font-size: 0.8em;
  padding-bottom: 15px;
}
footer a {
  color: darksalmon;
  text-decoration: none;
}
footer a:hover {
  color: rgb(81, 84, 84);
}
.icon {
  width: 80px;
  padding-top: 10px;
}
.logo {
  width: 80px;
}
footer p {
  font-size: 1.2em;
}
footer p a:hover {
  text-decoration: underline;
}
.mountains {
  width: 300px;
}
#logo_link {
  padding-top: 5px;
}
.social {
  padding-top: 15px;
}
.rivers-card {
  margin: 200px 0;
}
.camping-card {
  margin: 200px 0;
}
.card-img {
  border: 10px solid #505a5b;
}
main section img {
  box-sizing: border-box;
}
